:root{
	--xt-woopr-pbadge-width: 30%;
	--xt-woopr-pbadge-height: 8%;
	--xt-woopr-pbadge-align: center;
	--xt-woopr-pbadge-valign: center;
	--xt-woopr-pbadge-padding: 10px;
	--xt-woopr-pbadge-margin: 0;
	--xt-woopr-pbadge-top: 0;
	--xt-woopr-pbadge-right: 0;
	--xt-woopr-pbadge-bottom: 0;
	--xt-woopr-pbadge-left: 0;
	--xt-woopr-pbadge-center-x: 0%;
	--xt-woopr-pbadge-x: 0;
	--xt-woopr-pbadge-y: 0;
	--xt-woopr-pbadge-rotate: 0;
	--xt-woopr-pbadge-radius: 0;
	--xt-woopr-pbadge-border-width: 0;
	--xt-woopr-pbadge-border-style: solid;
	--xt-woopr-pbadge-border-color: #000000;
	--xt-woopr-pbadge-font-size: 12px;
	--xt-woopr-pbadge-font-weight: 700;
	--xt-woopr-pbadge-zindex: 8;
	--xt-woopr-pbadge-background-color: #78A463;
	--xt-woopr-pbadge-color: #ffffff;
	--xt-woopr-pbadge-sparkle-color: #ffffff;
}